VITE_API_BASE_URL=http://localhost:5000/api
VITE_GOOGLE_MAPS_API_KEY=YOUR_API_KEY_HERE

# Supabase Configuration
VITE_SUPABASE_URL=https://qwskiyterqppbbxcdggi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3c2tpeXRlcnFwcGJieGNkZ2dpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg2NjIwODgsImV4cCI6MjA4NDIzODA4OH0.ZaWDTs7d0B2L0thHHvs28WXLL3nurNGCeM0D83xmBUI
